.shopping-list-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  /* .search-bar {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  } */
  
  .add-button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .item-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
  }
  
  .item-card img {
    width: 80px;
    height: 80px;
  }

  /* Tabs Container */
.store_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  /* Tab Buttons */
  .tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .tab-button.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Shopping Grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
  }

  .search-bar {
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.used-tag {
    background-color: #4caf50;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 12px;
}

.input {
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    text-align: right;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust 150px as needed */
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
  direction: rtl;
}

.item-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.item-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.category-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-tabs button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #f0f0f0;
}

.category-tabs button.active {
  background-color: #007bff;
  color: white;
}